<div class="background">
  <div class="login-card">
    <div class="login-logo" (click)="goToHome()" style="cursor: pointer;">
      <img src="assets/logo.png" alt="InstaKart Logo">
    </div>

    <h2>Welcome Back</h2>

    <!-- Role Selection -->
    <div class="role-select">
      <button 
        [class.active]="selectedRole === 'admin'"
        (click)="selectRole('admin')">
        Admin
      </button>
<!-- this is to select different roles -->
      <button 
        [class.active]="selectedRole === 'customer'" 
        (click)="selectRole('customer')">
        Customer
      </button>
    </div>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error-alert">
      {{ errorMessage }}
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="login()">

      <label>{{ selectedRole === 'admin' ? 'Username' : 'Username or Email' }}</label>
      <input type="text" [(ngModel)]="username" name="username" 
             [placeholder]="selectedRole === 'admin' ? 'Enter username' : 'Enter username or email'" required>

      <label>Password</label>
      <input type="password" [(ngModel)]="password" name="password" placeholder="Enter password" required>

      <button type="submit" class="login-btn">
        Login
      </button>

    </form>

    <!-- Signup Button (Only for Customer) -->
    <div *ngIf="selectedRole === 'customer'" class="signup-section">
      <p>New here?</p>
      <button type="button" class="signup-btn" (click)="goToSignup()">
        Create Account
      </button>
    </div>

  </div>
</div>
